@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
    font-family: ringbearermedium;
    src: local(ringbearermedium);
}
body {
    font-family: 'MedievalSharp', cursive;
}
.Root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-image: url("https://images.pathe-thuis.nl/16153_1920x1080.jpg");
    image-rendering: high-quality;
    height: 1600px;
}
.mainLayoutStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.generalTextStyling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
}
pageTitles{
    font-size: 50px;
    color: red;
}