@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
    font-family: ringbearermedium;
    src: local(ringbearermedium);
}
body {
    font-family: 'MedievalSharp', cursive;
}
.Root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-image: url(/src/assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 3500px;
    image-rendering: high-quality;
    height: 1600px;
}
.mainLayoutStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.generalTextStyling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
}
pageTitles{
    color: #FF0000;
}

