
.startMenuDiv {
  display: flex;
  border-style: solid;

  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  
}

.mainButtonStyling {
  box-shadow:inset 0px 1px 0px 0px #f9eca0;
  background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color:#f0c911;
  border-radius:17px;
  border:2px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#212121;
  font-family:Arial;
  font-size:23px;
  font-weight:bold;
  padding:20px 40px;
  text-decoration:none;
  text-shadow:0px 1px 50px #ded17c;
}
.mainButtonStyling:hover {
  background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
  background-color:#f2ab1e;
}
.mainButtonStyling:active {
  position:relative;
  top:1px;
}

.mainInputStyling {

}
